
.stage {
    position: relative;
    width: 900px;
    height: 900px;
    margin: 0 auto;
    background-color: burlywood;

}
.box {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #F44336;
    height: 100px;
    width: 100px;
    animation: bounce2 8s infinite linear; 
}
@keyframes bounce2 {
    0%{
        top:30px; 
        left: 30px;
    }
    25%{
        top:30px;
        left:calc(100% - 130px);}
    50% { 
        top:calc(100% - 130px);
        left:calc(100% - 130px)
    }
    75% { 
        top:calc(100% - 130px);
        left:30px;
    }
    100% {top:30px;left:30px; }
}
